@import "bootstrap-overrides";
@import "bootstrap-dependencies";
@import "fonts";


.logo {
  height: 36.23px;
  width: 35px;
}

.btnSignup {
  width: 150px;
  height:45px ;
  border-radius: 50px;
}

.borderRight{
  border-right:  2px solid #EEEFF2;
  height: 125.57px;
}

.btnGetStarted {
  height: 60px;
  width: 250px;
  border-radius: 10px;

}

.btnSelect{
  width: 177.88px;
  height: 45px;
  border: 2px solid #F53838;
  box-sizing: border-box;
  border-radius: 50px;
}


.btnSubscribe{
  width: 250px;
  height: 60px;
  background: #F53838;
  border-radius: 10px;
}


.infoCard {
  border: none!important;
  -webkit-box-shadow: 38px 33px 96px -40px rgba(0,0,0,0.75);
  -moz-box-shadow: 38px 33px 96px -40px rgba(0,0,0,0.75);
  box-shadow: 38px 33px 96px -40px rgba(0,0,0,0.75);
}

.bubble{
  display: flex;
  background: #FFECEC;
  width: 55px;
  height: 55px;
  border-radius: 70px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.card-footer {
  background: #F6F6F6;
  border: none!important;
}


.cardPersonalising {
  width: 330px;
  height: 760px;
  border-radius: 10px;

}
.cardPersonalising:hover {
  border-color: $primary;
  .btnSelect{
    background-color: #F53838;
    color: white;
  }
}


.navbar-toggler {
  .line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all 0.4s;
  }
  &.show {
    .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    .line2 {
      opacity: 0;
    }

    .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}

.subscribeCard{
    border-radius: 10px;
    border: none!important;
    -webkit-box-shadow: 38px 33px 96px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: 38px 33px 96px -40px rgba(0,0,0,0.75);
    box-shadow: 38px 33px 96px -40px rgba(0,0,0,0.75);
  }


.footer{
  background-color: #F6F6F6;
}

