@import "bootstrap-overrides";
@import "bootstrap-dependencies";
@import "fonts";



//navbar
.btnSignup {
  width: 150px;
  height:45px ;
  border-radius: 50px;
}

.logo {
  height: 36.23px;
  width: 35px;
}
//end of navbar



//top Content
.topContentBg {
  @include media-breakpoint-down("md"){
    background-image: url("../../assets/img/TopDescriptionMobileBG.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.btnGetStarted {
  height: 60px;
  width: 250px;
  border-radius: 10px;
  -webkit-box-shadow: -5px 30px 38px -11px rgba(245,56,56,1);
  -moz-box-shadow: -5px 30px 38px -11px rgba(245,56,56,1);
  box-shadow: -5px 30px 38px -11px rgba(245,56,56,1);

}
//end of top Content


//info bar
.bubble{
  display: flex;
  background: #FFECEC;
  width: 55px;
  height: 55px;
  border-radius: 70px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.infoCard {
  border: none!important;
  -webkit-box-shadow: 38px 33px 96px -40px rgba(0,0,0,0.75);
  -moz-box-shadow: 38px 33px 96px -40px rgba(0,0,0,0.75);
  box-shadow: 38px 33px 96px -40px rgba(0,0,0,0.75);
}


//end info bar






//service description
.serDesBg{
  @include media-breakpoint-down("md"){
    background-image: url("../../assets/img/FeaturesMobileBG.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
//end of service description



//cards
.cardPersonalising {
  width: 330px;
  height: 760px;
  border-radius: 10px;
}

.cardPersonalising:hover {
  border-color: $primary;
  .btnSelect{
    background-color: #F53838;
    color: white;
    -webkit-box-shadow: -5px 30px 38px -11px rgba(245,56,56,1);
    -moz-box-shadow: -5px 30px 38px -11px rgba(245,56,56,1);
    box-shadow: -5px 30px 38px -11px rgba(245,56,56,1);
  }
}

.btnSelect{
  width: 177.88px;
  height: 45px;
  border: 2px solid #F53838;
  box-sizing: border-box;
  border-radius: 50px;
}

.card-footer {
  background: #F6F6F6;
  border: none!important;
}
//end of cards


//subscribe bar
.btnSubscribe{
  width: 250px;
  height: 60px;
  background: #F53838;
  border-radius: 10px;
  -webkit-box-shadow: -5px 30px 38px -11px rgba(245,56,56,1);
  -moz-box-shadow: -5px 30px 38px -11px rgba(245,56,56,1);
  box-shadow: -5px 30px 38px -11px rgba(245,56,56,1);
}

.subscribeCard{
  border-radius: 10px;
  border: none!important;
  -webkit-box-shadow: 38px 33px 96px -40px rgba(0,0,0,0.75);
  -moz-box-shadow: 38px 33px 96px -40px rgba(0,0,0,0.75);
  box-shadow: 38px 33px 96px -40px rgba(0,0,0,0.75);
}
//end of subcribe bar




//footer
.bubbleFooter {
  display: flex;
  background: #FFFFFF;
  Width: 33.6px;
  Height: 33.6px;
  border-radius: 50%;
  align-items: center;
  align-content: center;
  justify-content: center;
}
//end of footer












